/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

@import url(https://fonts.googleapis.com/css?family=Racing+Sans+One);
@import url(https://fonts.googleapis.com/css?family=Great+Vibes);

#banner{
    font-size:24pt;
}

a.nav {
	color:#ffffff;
	font-size:12pt;
	font-weight:normal;
}

a:link, a:active{
    color: darkslateblue;
}

a:hover{
    color: crimson;
}

div.student{
    font-size: 14pt;
    font-weight: bold;
    font-family: 'Racing Sans One', cursive;
}

div.title{
    font-size: 10pt;
    text-decoration: underline;
    font-family: 'Racing Sans One', cursive;
}

a.hyperlink{
    text-decoration: underline;
}

#slide_caption{
    font-size:16pt;
    font-family: 'Great Vibes', cursive;
}

#footer_text{
    font-family: 'Racing Sans One', cursive;
    font-weight: bold;
}
