/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

@import url(https://fonts.googleapis.com/css?family=Quantico:700);
@import url(https://fonts.googleapis.com/css?family=Pacifico);

#banner{
    font-size:24pt;
}

a.nav {
	color:#ffffff;
	font-size:10pt;
	font-weight:bold;
}

a:link, a:active{
    color: darkslateblue;
}

a:hover{
    color: crimson;
}

div.student{
    font-size: 14pt;
    font-weight: bold;
    font-family: 'Quantico', sans-serif;
}

div.title{
    font-size: 12pt;
    text-decoration: underline;
    font-family: 'Quantico', sans-serif;
}

a.hyperlink{
    text-decoration: underline;
}

#slide_caption{
    font-size:16pt;
    font-family: 'Pacifico', cursive;
}

#footer_text{
    font-family: 'Quantico', sans-serif;
    font-weight: bold;
}
